<?xml version="1.0" encoding="utf-8" ?>
<accounts>
  <account>
    <username>
      Kiemtien01
    </username>
    <password>
      123456
    </password>
  </account>
  <account>
    <username>
      Khanh010
    </username>
    <password>
      daibangk8
    </password>
  </account>
  <account>
    <username>
      khanh011
    </username>
    <password>
      daibangk8
    </password>
  </account>
  <account>
    <username>
      khanh015
    </username>
    <password>
      daibangk8
    </password>
  </account>
  <account>
    <username>
      khanh017
    </username>
    <password>
      daibangk8
    </password>
  </account>
  <account>
    <username>
      Kiemtien02
    </username>
    <password>
      123456
    </password>
  </account>
  <account>
    <username>
      enbiso1
    </username>
    <password>
      123456
    </password>
  </account>
  <account>
    <username>
      Anhak_99
    </username>
    <password>
      anhgaren1
    </password>
  </account>
  <account>
    <username>
      agrukuki
    </username>
    <password>
      abcD1234
    </password>
  </account>
    <account>
    <username>
      agrukuki1
    </username>
    <password>
      abcD1234
    </password>
      </account>
  <account>
    <username>
      agrukuki2
    </username>
    <password>
      abcD1234
    </password>
  </account>
  <account>
    <username>
      agrukuki3
    </username>
    <password>
      abcD1234
    </password>
  </account>
      <account>
        <username>
          agrukuki4
        </username>
        <password>
          abcD1234
        </password>      
    </account>
  <account>
    <username>
      agrukuki5
    </username>
    <password>
      abcD1234
    </password>
  </account>
  <account>
    <username>
      agrukuki6
    </username>
    <password>
      abcD1234
    </password>
  </account>
  <account>
    <username>
      agrukuki7
    </username>
    <password>
      abcD1234
    </password>
  </account>
  <account>
    <username>
      agrukuki8
    </username>
    <password>
      abcD1234
    </password>
  </account>
  <account>
    <username>
      agrukuki9
    </username>
    <password>
      abcD1234
    </password>
  </account>
  <account>
    <username>
      agrukuki10
    </username>
    <password>
      abcD1234
    </password>
  </account>
  <account>
    <username>
      anhratroi
    </username>
    <password>
      spanker321
    </password>
  </account>
  <account>
    <username>
      khoinghiep
    </username>
    <password>
      123456
    </password>
  </account>
 
</accounts>
